body {
    margin: 0;
    overflow: hidden;
}

.h1 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: lighter;
    font-style: italic;
}

.line {
    height: 25px;
    border: none;
    background-color: #a1d14a;
    width: 2000px;
    z-index: 1;
}

.parent {
    background-color: lightblue;
    z-index: 0;
}

.social {
    height: 0;
}